:root {
  --colortitle: #c2d7f7;
  --textcolor: navy;
  --btnprimaryshadow: #0479d8;
  --color1: #000000;
  --color2: #ffffff;
  --color3: #b30e32;
  --color3a: #c02a4a;
  --color4: #aaaaaa;
  --color5: #faaaaa;
}

.contorno_prueba{
    border: 1px solid #000000;
}

.contenedor_title, .contenedor_orden{
  padding: 0px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor_title h1{
  color: var(--textcolor);
  font-weight: 600;
  font-size: 1.25rem;
  background-color:#c2d7f7;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  margin: auto;
  line-height: 1.2
}
.contenedor_title h2{
  color: var(--textcolor);
  font-weight: 600;
  font-size: 1rem;
  background-color: #b5ddff;
  border-radius: 3px;
  width: 90%;
  text-align: center;
  margin: 0.25rem;
}
.renglon{
  border-bottom: 1px solid navy;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  flex-direction: row;
  & > :not(:last-child) {
    border-inline-start-width: 0px;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: navy;
  }
}
.celda{
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  color: navy;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  overflow: hidden;
  text-wrap: wrap;
}

.last{
  border: 0 !important
}
.word-break{
  word-break: break-all;
}

.celda span{
  font-weight: 500;
  font-size: 0.7rem;
  color:black;
}


.textfolio{
  color: red;
  text-transform: uppercase;
}

.w-85{
  width: 85%;
}
.w-80{
  width: 80%;
}
.w-75{
  width: 75%;
}
.w-60{
  width: 60%;
}
.w-55{
  width: 55%;
}
.w-50{
  width: 50%;
}
.w-45{
  width: 45%;
}
.w-40{
  width: 40%;
}
.w-35{
  width: 35%;
}
.w-34{
  width: 34%;
}
.w-33{
  width: 33%;
}
.w-26{
  width: 26%;
}
.w-25{
  width: 25%;
}
.w-20{
  width: 20%;
}
.w-16{
  width: 16%;
}
.w-15{
  width: 15%;
}
.w-14{
  width: 14%;
}
.w-12{
  width: 12%;
}

.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}

.a4{
  width: 794px;
  height: 1123px;
  margin: 0;
  padding: 10px;
  font-family: 'Arial', 'sans-serif';
}

.uppercase{
 text-transform: uppercase;
}
.p-4{
  padding: 16px;
}
.px-4{
  padding: 16px;
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-1{
  flex: 1 1 0%
}
.text_center{
  text-align: center;
}
.ml-1{
  margin-left: 4px;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}


.p-2{
    padding: 0.5rem;
}
.pl-2{
    padding-left: 0.5rem;
}
.pt-2{
    padding-top: 0.5rem;
}
.pr-2{
    padding-right: 0.5rem;
}
.pb-2{
    padding-bottom: 0.5rem;
}
.px-2{
    padding-inline: 0.5rem;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-start{
  justify-content: start;
}
.items-top{
  align-items: start;
}
.items-center{
  align-items: center;
}
.gap-2{
  gap: 8px;
}
.gap-1{
  gap: 4px;
}
.gap-05{
  gap: 2px;
}
.contedor_bordes{
  border: var(--textcolor) solid 1px;
  border-radius: 10px;
  overflow: hidden;
}
.h-50px{
  height: 50px;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-col{
  flex-direction: column;
}
.h-90{
  height: 90%;
}
.h-89{
  height: 89%;
}
.h-88{
  height: 88%;
}
.h-87{
  height: 87%;
}
.h-87{
  height: 87%;
}
.h-85{
  height: 85%;
}
.h-80{
  height: 80%;
}
.h-75{
  height: 75%;
}
.h-70{
  height: 70%;
}
.h-50{
  height: 50%;
}
.h-45{
  height: 45%;
}
.h-30{
  height: 30%;
}
.h-25{
  height: 25%;
}
.h-24{
  height: 24%;
}
.h-23{
  height: 23%;
}
.h-22{
  height: 22%;
}
.h-21{
  height: 21%;
}
.h-20{
  height: 20%;
}
.h-17{
  height: 17%;
}
.h-16{
  height: 16%;
}
.h-15{
  height: 15%;
}
.h-14{
  height: 14%;
}
.h-13{
  height: 13%;
}
.h-12{
  height: 12%;
}
.h-11{
  height: 11%;
}
.h-10{
  height: 10%;
}
.h-8{
  height: 8%;
}
.h-1rem{
  height: 1rem;
}

.text-05{
    font-size: 0.5rem;
}
.text-06{
    font-size: 0.6rem;
}
.text-07{
    font-size: 0.7rem;
}
.text-08{
    font-size: 0.8rem;
}
.text-09{
    font-size: 0.9rem;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}

.captura_text_pdf{
  position: relative;
  display: flex;
  padding:0;
}

.captura_text_pdf label{
  left: 0.5rem;
  top: 0.5rem;
  position: absolute;
  font-weight: 500;
  font-size: 0.7rem;
  color:black;
}
.captura_text_pdf textarea{
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing:border-box;
  margin: 0;
  border: 0;

  text-indent: 0%;
}
.condiciones{
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  height:85%;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-5{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
}
.condiciones .row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  width: 100%;
}
.condiciones .col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.condiciones .check{
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content:space-evenly;
  height: 100%;
}
.condiciones  h3{
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  width: 75%;
  text-transform: uppercase;
}
.chexk i{
  align-self: flex-end;
}
.col h3{
  text-align: end;
}
.condiciones .respuesta{
  font-size: 0.75rem;
  width: 20%;
  align-self: flex-end;
  text-align: center;
  color:navy;
  font-weight: 600;
  border-bottom: 1px solid navy;
}
.overflow{
  overflow: auto;
}

.col-span-2{
  grid-column:span 2 / span 2
}